<web-app>  

<!-- 1. helloWorld -->
<servlet>  
<servlet-name>helloWorld</servlet-name>  
<servlet-class>helloWorld</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>helloWorld</servlet-name>  
<url-pattern>/helloWorld</url-pattern>  
</servlet-mapping>

<!-- 2. counter -->
<servlet>  
<servlet-name>myservlet</servlet-name>  
<servlet-class>myservlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>myservlet</servlet-name>  
<url-pattern>/counter</url-pattern>  
</servlet-mapping>  

<!-- 3. Persistent Counter -->
<servlet>  
<servlet-name>persistentCounter</servlet-name>  
<servlet-class>persistentCounter</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>persistentCounter</servlet-name>  
<url-pattern>/pCounter</url-pattern>  
</servlet-mapping>

<!-- 4. helloWorld word count times -->
<servlet>  
<servlet-name>helloWorldn</servlet-name>  
<servlet-class>helloWorldn</servlet-class>  
</servlet>
  
<servlet-mapping>  
<servlet-name>helloWorldn</servlet-name>  
<url-pattern>/helloWorldn</url-pattern>  
</servlet-mapping>  

<!-- 5. Show Header Data -->
<servlet>  
<servlet-name>showHeader</servlet-name>  
<servlet-class>showHeader</servlet-class>  
</servlet>
  
<servlet-mapping>  
<servlet-name>showHeader</servlet-name>  
<url-pattern>/showHeader</url-pattern>  
</servlet-mapping> 

<!-- 6. Cookies -->
<servlet>  
<servlet-name>firstServlet</servlet-name>  
<servlet-class>firstServlet</servlet-class>  
</servlet>
  
<servlet-mapping>  
<servlet-name>firstServlet</servlet-name>  
<url-pattern>/servlet1</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>secondServlet</servlet-name>  
<servlet-class>secondServlet</servlet-class>  
</servlet>
  
<servlet-mapping>  
<servlet-name>secondServlet</servlet-name>  
<url-pattern>/servlet2</url-pattern>  
</servlet-mapping>

<!-- 7. session -->
<servlet>  
<servlet-name>session</servlet-name>  
<servlet-class>session</servlet-class>  
</servlet>
  
<servlet-mapping>  
<servlet-name>session</servlet-name>  
<url-pattern>/session</url-pattern>  
</servlet-mapping>

<!-- 8. Session Tracking -->

<servlet>  
<servlet-name>firstST</servlet-name>  
<servlet-class>firstST</servlet-class>  
</servlet>
  
<servlet-mapping>  
<servlet-name>firstST</servlet-name>  
<url-pattern>/firstST</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>secondST</servlet-name>  
<servlet-class>secondST</servlet-class>  
</servlet>
  
<servlet-mapping>  
<servlet-name>secondST</servlet-name>  
<url-pattern>/secondST</url-pattern>  
</servlet-mapping>

<!-- 9. JDBC -->
<servlet>  
<servlet-name>credCheck</servlet-name>  
<servlet-class>credCheck</servlet-class>  
</servlet>
  
<servlet-mapping>  
<servlet-name>credCheck</servlet-name>  
<url-pattern>/credCheck</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>success</servlet-name>  
<servlet-class>success</servlet-class>  
</servlet>
  
<servlet-mapping>  
<servlet-name>success</servlet-name>  
<url-pattern>/success</url-pattern>

</servlet-mapping>

</web-app>